body{
    font-family: sans-serif;
    background:url("/assets/img/test.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-blend-mode: darken;

}
.lg{
    max-width: 80px; 
    
    width: 50%;
    padding-left: 20px;
    padding-top: 10px;
}


.signup_link {
    
    margin-bottom: 40px;
    padding-bottom: 40px;
    font-size: 18px;

}
.signup_link a{
    text-decoration-line: none;
    color: #DEB6AB;
    
}
/*.header{
    
    text-align: center;
    padding-top: 20px;
}*/

.header .h1{
    color:#edea22ec;
    font-size: 20px;
    margin-bottom:30px;
    
    

}
.header .img{
    
    text-align: left;
}
.main{
    text-align: center;

}
.main input ,button{
    width:300px;
    height:40px ;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color:black ;
    margin-bottom: 35px;
    border-radius: 25px;
    height: 45px;
}
.main button{
    padding-left: 0;
    background-color: #edea22ec;
    letter-spacing: 1px;
    
    font-weight: bold;
    margin-bottom: 50px;

}
.main button:hover{
    box-shadow: 2px 2px 5px #555;
    background-color:  #F5E8C7;
    transition:.5s ;

}
.main input:hover{
    box-shadow: 2px 2px 5px #555;
    background-color: #F5E8C7

}
.main span{
    position:relative;
}
.main i{
    position:absolute;
    left: 20px;
    color:#333;
    font-size:16px;
    top:2px;
    

}