{% block title %}Confirmation de paiement{% endblock %}

{% block body %}
  <h1>Votre paiement a été traité avec succès !</h1>
  <p>Merci d'avoir effectué votre réservation de camping avec nous.</p>
  {% endblock %}